* {
    font-family: 'Fira sans', 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(222, 222, 222);
}

.card {
    margin: 0 10px;
    padding: 10px;
    background-color: beige;
    border:7px ridge beige;
    border-radius: 5px;
}

.logo {
    text-align: center;
}

.logo img {
    vertical-align: middle;
    height: 45px;
    width: auto;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: red;
}

li {
    line-height: 1.7;
}

.title {
    color: red;
}

.subject {
    color: rgb(92, 167, 232);
}

.subject {
    text-align: center;
    margin:10px;
    padding:10px;
}

.subject h1{
    margin: 0;
    letter-spacing:2px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.subject img {
    box-shadow: 0px 0px 12px 5px grey;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    border: 4px ridge rgb(92, 167, 232);
    width: 250px;
    height: 250px;
    margin: 10px;
}